.DetallePaella {
    & .cabecera {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 30vh;

        & .filter {
            background-color: rgba(0, 0, 0, 0.63);
            width: 100%;
            min-height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 3rem 8rem;
            @media screen and(max-width: '767px') {
                padding: 3rem;
            }

            & .backArrow{
                padding-bottom: 1rem;
            }

            & .title {
                color: white;
                margin-top: 2rem;
            }

            & .text {
                color: white;
            }
        }
    }

    & .rowPrice {
        justify-content: flex-end;
        padding: 1rem 0;

        & .price {
            background-color: #FF881C;
            width: 40%;
            border-radius: 20px 0 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;

            & p {
                margin: 0;
                color: white;
                font-weight: bold;
            }
        }
    }

    & .menuOptions{
        justify-content: space-evenly;
        padding: 3rem 8rem;
            @media screen and(max-width: '767px') {
                padding: 2rem;
            }
        & .selected{
            color: #FF881C;
            font-weight: bold;
            border-bottom: 1px solid #FF881C;
        }
    }

}